"*":
  "exception-reporting":
    userId: "c3790573-4417-12ed-8eb9-8f275d58c01a"
  welcome:
    showOnStartup: false
  metrics:
    userId: "06d66615700a1caedef818b8fc8206721ca0a9e4"
  editor:
    fontSize: 12
    showIndentGuide: true
    invisibles: {}
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      ".o"
    ]
    disabledPackages: [
      "linter-clang"
      "atom-lint"
    ]
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  minimap:
    plugins:
      "color-highlight": true
      "highlight-selected": true
      "git-diff": true
      selection: true
  linter: {}
